group: travis_latest
language: cpp
jobs:
  include:
  - os: linux
    dist: focal
    compiler: gcc
    env: CONFIG=coverage
  - os: osx
    osx_image: xcode12.3
    compiler: clang
    env: CONFIG=coverage
  - if: branch = master OR tag IS present
    os: osx
    osx_image: xcode12.3
    compiler: clang
    env: CONFIG=official

addons:
  apt:
    packages:
    - qt5-default
    - qtbase5-dev
    - libqt5opengl5-dev
    - libboost-dev
    - libcgal-dev
    - bison
    - flex
    - libreadline-dev

install:
- if [ $TRAVIS_OS_NAME = osx ]; then
    export CGAL_DIR=/usr/local/include/CGAL;
    export BOOST_ROOT=/usr/local/include/boost;
    brew install bison;
    export PATH="/usr/local/opt/bison/bin:$PATH";
    brew link --force qt5;
  else
    export CGAL_DIR=/usr/include/CGAL;
    export BOOST_ROOT=/usr/include/boost;
  fi
- sudo patch -l $BOOST_ROOT/random/linear_congruential.hpp < patch/Fix-Wtautological-overlap-compare-clang-warning.patch;
- sudo patch -l $CGAL_DIR/Nef_S2/SM_overlayer.h < patch/Fix-use-of-uninitialized-variable-in-SM_overlayer.h.patch;
- sudo patch -l $CGAL_DIR/IO/File_scanner_OFF.h < patch/Fix-use-of-uninitialized-variable-in-File_scanner_OFF.h.patch;
- sudo patch -l $CGAL_DIR/IO/File_writer_OFF.h < patch/Fix-uninitialized-member-in-File_writer_OFF.h.patch;
- sudo patch -l $CGAL_DIR/IO/File_writer_VRML_2.h < patch/Fix-uninitialized-member-in-File_writer_VRML_2.h.patch;
- sudo patch -l $CGAL_DIR/internal/Triangulation_ds_iterators_3.h < patch/Fix-uninitialized-member-in-Triangulation_ds_iterators_3.h.patch;
- sudo patch -l $CGAL_DIR/Triangulation_2/internal/Triangulation_line_face_circulator_2.h < patch/Fix-uninitialized-member-in-Triangulation_line_face_circulator_2.h.patch;
- sudo patch -l $CGAL_DIR/Triangulation_3.h < patch/Fix-uninitialized-member-in-Triangulation_3.h.patch;
- sudo patch -l $CGAL_DIR/Tools/chained_map.h < patch/Fix-uninitialized-member-in-chained_map.h.patch;
- sudo patch -l $CGAL_DIR/Nef_3/ID_support_handler.h < patch/Performance-in-ID_support_handler.h.patch;
- sudo patch -l $CGAL_DIR/Nef_3/K3_tree.h < patch/Fix-uninitialized-member-in-K3_tree.h.patch;
- sudo patch -l $CGAL_DIR/GMP/Gmpz_type.h < patch/Fix-uninitialized-member-in-Gmpz_type.h.patch;
- sudo patch -l $CGAL_DIR/GMP/Gmpfr_type.h < patch/Fix-uninitialized-member-in-Gmpfr_type.h.patch;
- sudo patch -l $CGAL_DIR/Multiset.h < patch/Fix-uninitialized-members-in-Multiset.h.patch;
- sudo patch -l $CGAL_DIR/Convex_decomposition_3/Single_wall_creator.h < patch/Fix-uninitialized-member-in-Single_wall_creator.h.patch;
- sudo patch -l $CGAL_DIR/Convex_decomposition_3/Edge_sorter.h < patch/Fix-uninitialized-member-in-Edge_sorter.h.patch;
- sudo patch -l $CGAL_DIR/Convex_decomposition_3/Ray_hit_generator2.h < patch/Fix-uninitialized-members-in-Ray_hit_generator2.h.patch;
- sudo patch -l $CGAL_DIR/Nef_3/SNC_io_parser.h < patch/Fix-uninitialized-member-in-SNC_io_parser.h.patch;
- sudo patch -l $CGAL_DIR/Nef_3/Volume.h < patch/Fix-uninitialized-member-in-Volume.h.patch;
- sudo patch -l $CGAL_DIR/Polyhedron_incremental_builder_3.h < patch/Fix-uninitialized-member-in-Polyhedron_incremental_builder.h.patch;
- sudo patch -l $CGAL_DIR/Triangulation_vertex_base_with_info_2.h < patch/Fix-uninitialized-member-in-Triangulation_vertex_base_with_info_2.h.patch;
- sudo patch -l $CGAL_DIR/utility.h < patch/Fix-uninitialized-members-in-utility.h.patch;
- sudo patch -l $CGAL_DIR/boost/graph/iterator.h < patch/Fix-uninitialized-member-in-iterator.h.patch;
- sudo patch -l $CGAL_DIR/Straight_skeleton_2/Straight_skeleton_builder_events_2.h < patch/Fix-uninitialized-member-in-Straight_skeleton_builder_events_2.h.patch;
- sudo patch -l $CGAL_DIR/Filtered_predicate.h < patch/Fix-uninitialized-member-in-Filtered_predicate.h.patch;
- sudo patch -l $CGAL_DIR/Intersections_2/Segment_2_Segment_2.h < patch/Fix-uninitialized-member-in-Segment_2_Segment_2.h.patch;
- sudo patch -l $CGAL_DIR/Nef_3/Vertex.h < patch/Fix-dereference-after-null-check-in-Nef_3-Vertex.h.patch;
- sudo patch -l $CGAL_DIR/Nef_3/SNC_io_parser.h < patch/Fix-passing-big-parameters-by-value-in-SNC_io_parser.patch;
- sudo patch -l $CGAL_DIR/Nef_2/debug.h < patch/Fix-warning-cgal-nef-debug.patch;
- sudo patch -l $CGAL_DIR/assertions.h < patch/Add-a-destructor-assertion-catch-macro.patch;
- sudo patch -l $CGAL_DIR/Nef_3/K3_tree.h < patch/Fix-uncaught-exception-in-K3_tree.h.patch;
- sudo patch -l $CGAL_DIR/IO/VRML_2_ostream.h < patch/Fix-uncaught-exception-in-VRML_2_ostream.h.patch;
- sudo patch -l $CGAL_DIR/Nef_S2/Sphere_map.h < patch/Fix-uncaught-exception-in-Sphere_map.h.patch;
- sudo patch -l $CGAL_DIR/Nef_polyhedron_S2.h < patch/Fix-uncaught-exception-in-Nef_polyhedron_S2.h.patch;
- sudo patch -l $CGAL_DIR/Nef_3/SNC_point_locator.h < patch/Fix-uncaught-exception-in-SNC_point_locator.h.patch;
- sudo patch -l $CGAL_DIR/Handle_for.h < patch/Fix-uncaught-exception-in-Handle_for.h.patch;
- if [ $TRAVIS_OS_NAME != osx ]; then
    sudo patch -l $CGAL_DIR/Intersections_2/Line_2_Line_2.h < patch/Fix-uninitialized-member-in-Line_2_Line_2.h.patch;
  fi

before_script:
- qmake -v
- bison -V
- flex -V

script:
- export VERSION=$(cat VERSION)
- qmake CONFIG+=$CONFIG
- make -j4
- if [ $CONFIG = coverage ]; then
    if [ $TRAVIS_OS_NAME = osx ]; then
      ./rapcad.app/Contents/MacOS/rapcad -t test;
    else
      xvfb-run --server-args="-screen 0 1024x768x24" ./rapcad -t test;
    fi
  fi
- if [ $CONFIG = official ]; then
    if [ $TRAVIS_OS_NAME = osx ]; then
      macdeployqt rapcad.app -dmg;
      mv rapcad.dmg rapcad_$VERSION.dmg;
    fi
  fi

after_success:
- if [ $TRAVIS_OS_NAME != osx ] && [ $CONFIG = coverage ]; then
    bash <(curl -s https://raw.githubusercontent.com/codecov/codecov-bash/master/codecov) -a '-r';
  fi

deploy:
  provider: releases
  token:
    secure: mQDIQDIJLGeKGRtQmF/wc5YM9HiJ0tx8rDvX3NLuIwUSsI6RrmBwtXyqW0+CbT4tgPvZBbiyGhobK9hsOt2xtQKG4uhF+4kCmd9RZi3bLi4w1B3MwuCmtwLwZ0Z0d1hgtlWOnhVuOywxRbZFoem9/ckrFsVbu/LMucskyTzUl6s=
  file_glob: true
  file: rapcad_*.dmg
  edge: true
  draft: true
  on:
    branch: master
    condition: -e rapcad_$VERSION.dmg
    tags: true

notifications:
  irc:
    channels:
    - irc.freenode.org#rapcad
    skip_join: true
    template:
    - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
    - 'Build details : %{build_url}'

